* {
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 420px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
}

button {
  display: block;
  background: white;
  margin: 0 auto;
  border: 1px solid #eee;
  padding: 10px 25px;
}